.globe-image {
  width: 100% !important;
}
.globe {
  background-image: url("../Images/globe.png");
  background-size: 100vw;
  height: 100vw;
  background-repeat: no-repeat;
}
.heading-explore {
  font-size: 4rem;
  text-align: center;
  color: var(--white);
  vertical-align: middle !important;
  margin-top: 10%;
}
.button-explore {
  background-color: var(--white) !important;
}
.button-sell {
  background-color: var(--yellow) !important;
}
