:root {
  --black: #0000;
  --white: #ffff;
}

#containerspacing {
  padding: 3rem 5%;
}
#containerwidth {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#bigheadingspacing {
  padding-bottom: 3rem;
}
#headingspacing {
  padding-bottom: 2rem;
}
#textspacing {
  padding-bottom: 1rem;
}
#buttonspacing {
  margin-top: 1rem;
}

/* media-query */

@media screen and (max-width: 1200px) {
  #containerspacing {
    padding: 2.5rem 0rem;
  }
  #containerwidth {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  #bigheadingspacing {
    padding-bottom: 2.5rem;
  }
  #headingspacing {
    padding-bottom: 1.5rem;
  }
  #textspacing {
    padding-bottom: 0.8rem;
  }
  #buttonspacing {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #containerspacing {
    padding: 2rem 0rem;
  }
  #containerwidth {
    width: 98%;
    display: block;
    margin: 0 auto;
  }
  #bigheadingspacing {
    padding-bottom: 2rem;
  }
  #headingspacing {
    padding-bottom: 1rem;
  }
  #textspacing {
    padding-bottom: 0.5rem;
  }
  #buttonspacing {
    margin-top: 1rem;
  }
}
