:root {
  --black: #0000;
  --white: #ffff;
  --yellow: #fec200;
}

html {
  font-size: 62.5%;
}

#containerspacing {
  padding: 3rem 5%;
}
#containerwidth {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#bigheadingspacing {
  padding-bottom: 3rem;
}
#headingspacing {
  padding-bottom: 2rem;
}
#textspacing {
  padding-bottom: 1rem;
}
#buttonspacing {
  margin-top: 1rem;
}
.navbar {
  padding: 1rem 1%;
}
button {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  width: 15rem;
  height: 6rem;
  margin: 1rem;
  box-shadow: 3px -1px 50px -3px #2e2e2e;
}

/* media-query */

@media screen and (max-width: 1200px) {
  #containerspacing {
    padding: 2.5rem 0rem;
  }
  #containerwidth {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  #bigheadingspacing {
    padding-bottom: 2.5rem;
  }
  #headingspacing {
    padding-bottom: 1.5rem;
  }
  #textspacing {
    padding-bottom: 0.8rem;
  }
  #buttonspacing {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 900px) {
  #containerspacing {
    padding: 2rem 0rem;
  }
  #containerwidth {
    width: 98%;
    display: block;
    margin: 0 auto;
  }
  #bigheadingspacing {
    padding-bottom: 2rem;
  }
  #headingspacing {
    padding-bottom: 1rem;
  }
  #textspacing {
    padding-bottom: 0.5rem;
  }
  #buttonspacing {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 45%;
  }
}
